.text-purple { color: #6f42c1; }
.bg-purple { background-color: #6f42c1 !important; }
.text-teal { color: #20c997; }
.bg-teal { background-color: #20c997 !important; }
.btn-teal { 
  background-color: #20c997; 
  border-color: #20c997; 
  color: white;
}